
/*************************TAG Selectors**********************************/

  body{
    background-color:#fee2b3;;
  }

  hr{
    background-color:white;
    border-style: dotted none none;
    border-width: 5px;
    border-color:grey;
    height :0px;
    width : 30px;
  }

h1{
  color:#66BFBF;;

}
/*
h3{
  color:#66BFBF;;

}
*/

/*************************CLASS Selectors**********************************/

.MainHeading{
  background-color:yellow;
}

.lowerheading{
  background-color:red;
}

/*************************ID Selectors**********************************/
#Main{
    background-color:purple;
}
